:root {
    --background-color: rgb(255, 243, 222);
    --background-color-g: #F18C60;
    --text-color: #1c1d18;
    /* -g color vairants are for gradients */
    --primary-color: rgb(247, 181, 60);
    --primary-color-g: #F5952E;
    --accent-color-1: rgb(242, 52, 5);
    --accent-color-1-g: #F45614;
    --accent-color-2: #76b53b;
    --accent-color-2-g: #9CB53B;
}

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    overflow: hidden;
    background-color: var(--background-color);
}

p {
    color: var(--text-color);
}

header,
footer {
    background-color: var(--accent-color-1);
    padding: 10px;
    color: var(--background-color);
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

header img {
    height: 40px;
    margin-right: 10px;
}

#foodContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 400px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    border-radius: 10px;
    background-color: var(--background-color);

    animation-duration: 0.5s;
    animation-name: animate-pop;
}

@keyframes animate-pop {
    0% {
        opacity: 0;
        /* transform: scale(0.5, 0.5); */
    }

    100% {
        opacity: 1;
        /* transform: scale(1, 1); */
    }
}

#dishName {
    text-align: left;
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    color: var(--background-color);
}

#description {
    text-align: left;
    padding: 10px;
    font-size: 14px;
    color: var(--background-color);
}

#dishName,
#description,
.grid-container {
    padding-left: 35px;
    padding-right: 35px;
}

.grid-container {
    display: flex;
    justify-content: space-around;
}

.grid-item {
    height: 20px;
    color: var(--background-color);
    text-align: center;
}

#foodImage {
    width: 100%;
    height: 100%;
    /*?*/
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.allergyCheckbox {
    margin-bottom: 5px;
}

#btnLeft,
#btnRight {
    position: absolute;
    height: 100%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    cursor: pointer;
    background-color: var(--primary-color);
    /* background-image: linear-gradient(var(--primary-color), var(--primary-color-g)); */
    /* border: var(--primary-color) 2px solid; */
    color: var(--background-color);
    /* border: none; */
    outline: none;
}

#btnLeft {
    left: 0px;
}

#btnRight {
    right: 0px;
}

.btn-ani-left {
    border: none;
    color: #000;
}

.btn-ani-left:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1;

    transition: all 0.3s ease;
}

.btn-ani-left:hover {
    color: #000;
}

.btn-ani-left:hover:after {
    left: auto;
    right: 0;
    width: 100%;
    background-color: var(--accent-color-1);
}

.btn-ani-left:active {
    top: 2px;
}

.btn-ani-right {
    border: none;
    color: #000;
    position: relative;
}

.btn-ani-right:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    transition: all 0.3s ease;
}

.btn-ani-right:hover {
    color: var(--accent-color-2);
}

.btn-ani-right:hover:after {
    right: 0%;
    left: 0%;
    width: 100%;
    background-color: var(--accent-color-2);
}

.btn-ani-right:active {
    top: 2px;
}

/* #likedFoods,
#dislikedFoods {
    border: 1px solid white;
} */

#likedFoods,
#dislikedFoods {
    /* position: fixed;
    top: 10px;
    right: 10px; */
    display: grid;
    grid-template-columns: repeat(5, 5rem);
    grid-gap: 1rem;
    overflow-y: auto;
}

/* #likedFoodsColumn{
    background-color: white;
} */
/* .column{
    background-color: white;
} */

#likedFoodsColumn,
#chartColumn {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    /* background-color: rgba(255, 255, 255, 0.5); */
    padding: 10px;
}

.column-title {
    font-weight: bold;
    text-decoration: underline solid var(--accent-color-2);
    text-underline-offset: 8px;
    padding: 20px;
    /* background-color: var(--accent-color-2-g); */
    color: var(--text-color);
}

.likedFood,
.dislikedFood {
    width: 5rem;
    height: 5rem;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    object-fit: cover;
    /* border: 1px solid var(--text-color); */
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.column {
    flex: 1;
    padding: 20px;
    /* border: 1px solid var(--background-color); */
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-evenly;
    /* padding:20px; */
}

.headerColumn {
    flex: 1;
    padding: 20px;
    /* border: 1px solid var(--background-color); */
    box-sizing: border-box;
}

#headerColumnLeft {
    /* justify-content: left; */
    text-align: left;
}

#foodColumn::before {
    /* background-color: black; */
    /* background-size: cover; */
    background-image: url("image1.png");
    /* filter: blur(10px); */
}

.checkbox-wrapper-64 input[type="checkbox"] {
    visibility: hidden;
    display: none;
}

.checkbox-wrapper-64 *,
.checkbox-wrapper-64 ::after,
.checkbox-wrapper-64 ::before {
    box-sizing: border-box;
}

/* The switch - the box around the slider */
.checkbox-wrapper-64 .switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 2.5em;
    height: 1.5em;
    line-height: 1.5em;
}

/* Hide default HTML checkbox */
.checkbox-wrapper-64 .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.checkbox-wrapper-64 .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--accent-color-1);
    border: 1px solid var(--accent-color-1);
    transition: .4s;
    border-radius: 30px;
}

.checkbox-wrapper-64 .slider:before {
    position: absolute;
    content: "";
    height: 1em;
    width: 1em;
    border-radius: 20px;
    left: 0.27em;
    bottom: 0.25em;
    background-color: var(--background-color);
    transition: .4s;
}

.checkbox-wrapper-64 input:checked+.slider {
    background-color: var(--accent-color-2);
    border: 1px solid var(--accent-color-2);
}

.checkbox-wrapper-64 input:focus+.slider {
    box-shadow: 0 0 1px var(--accent-color-2);
}

.checkbox-wrapper-64 input:checked+.slider:before {
    transform: translateX(.9em);
    background-color: var(--background-color);
}

/* #allergyIcon {
    height: 100%;
} */

#foodTextContainer {
    width: 100%;
    height: 45%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0), black 50%);
}

#myProgress {
    /* padding: 2.5%; */
    padding: 10px;
    /* width: 95%; */
    height: 50%;
    /* height:; */
    /* width: 100%; */
    /* background-color: var(--accent-color-1); */
}

#myBar {
    /* transition: 0.5f; */
    transition: width 1s;
    width: 0%;
    height: 100%;
    /* background-color: var(--accent-color-2); */
    background: repeating-linear-gradient(45deg,
            var(--accent-color-1),
            var(--accent-color-1) 10px,
            var(--primary-color) 10px,
            var(--primary-color) 20px);
}

#percentText {
    position: absolute;
    width: 15%;
    /* height:100%; */
    /* left:50%; */

    /* margin: auto; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    /* bottom: 50%; */
    text-align: center;
    /* line-height: 100%; */
    /* background-color: var(--accent-color-1); */
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0), var(--accent-color-1), rgba(0, 0, 0, 0));
    /* height:100%; */
}

#checkboxHolder {
    display: flex;
    align-items: center;
}

.checkbox-wrapper-64 {
    flex: 0 0 auto;
    margin-right: 10px;
}

#checkboxLabel {
    flex: 1;
    transform: translate(0, -2px);
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    /* border: 3px solid var(--background-color); */
    border-radius: 10px;
    z-index: 10;
    background-color: var(--accent-color-1);
    width: 500px;
    max-width: 80%;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid var(--background-color);
}

.modal-header .title {
    text-align: center;

    font-size: 1.25rem;
    font-weight: bold;
    /* font-family: "Montserrat", sans-serif; */
}

.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
    /* font-family: "Montserrat", sans-serif; */
    color: var(--background-color);
}

.modal-body {
    padding: 15 px 15 px;
    padding: 20px 20px;
    text-align: left;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

.standard-button {
    background-color: var(--accent-color-2);
    color: var(--background-color);
    border: none;
    border-radius: 10px;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
}

/*
.btn{
    padding: 10px 60px;
    background: #fff;
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    border-radius: 30px;
}
*/
.popup {
    width: 400px;
    height: 500px;
<<<<<<< HEAD
    background-color: #cccccc; 
    /*background-image: url("images/image1.jpg");*/
    object-fit: fill;
=======
    /* background-color: #cccccc; */
    background-image: url("images/image1.jpg");
    object-fit: contain;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
>>>>>>> 365fe194993b077b87e1d2a24350c775711c4152
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-popup {
    visibility: visible;
    top: 50;
    transform: translate(-50%, -50%) scale(1);
}

/*
.matchImage{

.match{
    position: relative;
    border-radius: 6px;
    height: 100%;
    max-width: 100%;
    margin-top: -50px;
    border-radius: 50%;
    object-fit: fill;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup button{
    top: 450px;
    position: relative;
.popup button {
    width: 100%;
    padding: 10px 0;
    background: var(--accent-color-2);
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
}

.blur-effect {
    filter: blur(40px);
}

#dollar1,
#dollar2,
#dollar3,
#allergyGluten,
#allergySeafood,
#allergyDairy,
#allergySpice {
    transition: 0.5s;
}

#badge {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    background-color: var(--accent-color-1-g);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--background-color);
    font-size: 14px;
    font-weight: bold;
}